$mainColor: #92531f;

.splitter {
    &:after {
        content: '|';
        font-style: normal;
        color: lightgray;
        margin: auto 4px;
    }
}

.filled-button {
    height: 55px;
    background: #222;
    border-color: #222;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.content-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.content-wrapper {
  margin-top: 3%;
  margin-left: 15vw;
  margin-right: 15vw;
}

dl {
    text-align: left;
    line-height: 1.9;
    margin-left: 30px;
    display: flex;

    dt {
        display: inline-block;
        width: 110px;
    }
    dd {
        display: inline-block;
    }
}
